

#root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Home Page */
#home-page {
  font-family: 'Times New Roman', Times, serif;
  color: white;
    background-color: #000;
    background-image: url(https://media.tenor.com/0WtO3Sy6mtEAAAAC/aesthetic-stars.gif);
    background-repeat: repeat;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 50px 50px;
    z-index: -1;
    animation: sparkles 1s linear infinite;
    text-align: center;

}

.navbar_home {
  color: yellow !important;
  border: yellow;
  background-size: cover;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 10%;
  font-size: 18px;
padding-bottom: 2%;
padding-left: 15%;
padding-right: 5%;
margin-left: 20%;
margin-right: 20%;
margin-top: 1%;
margin-bottom: 1%;
}

.navbar_home a {
  margin-right: 30%; 
  color: yellow !important;
  white-space: nowrap;
}

a {
  color: green; /* Default link color */
}

a:hover {
  color: red; /* Link color on hover */
}

a:visited {
  color: purple; /* Link color for visited links */
}


@keyframes sparkle {
  0% {
    background-position: 0 0;
  }

  40% {
    background-position: 100% 0;
  }

  60% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0 100%;
  }
}

.intro {
  text-decoration-style: wavy;
  animation: wavy 2s linear infinite;
  text-align: center;
  font-size: 3rem;
  background-image: url('https://img1.picmix.com/output/stamp/normal/6/3/8/4/254836_c277a.gif');
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes wavy {
  0% {
    transform: skewX(0deg);
  }

  25% {
    transform: skewX(10deg);
  }

  50% {
    transform: skewX(-10deg);
  }

  75% {
    transform: skewX(5deg);
  }

  100% {
    transform: skewX(0deg);
  }
}

.home-pg {
  margin-left: 6%;
  margin-right: 6%;
}

.img_home {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  opacity: 0;
  animation: fadeIn 6s ease-in-out forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* My Story */

/* .container {
        display: flex;
        align-items: center;
        justify-content: center
      }
      img {
        max-width: 100%
      }
      .image {
        flex-basis: 40%
      }
      .text {
        font-size: 20px;
        padding-left: 20px;
      } */



.mystory {
  display: flexbox;
}


/* Donate Page */

.Donate {
  background-color: #ca2e2e;
}

.donate-header-font {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
font-size: 6rem;
}

.do-something { 
  margin-left: 2%;
  margin-bottom: 3%;
}

.incredible-now {
  margin-left: 28%;
}



/* fundraising thermometer */
body {
 
}

#countdown-wrap {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  padding: 20px;
  font-family: arial;
  max-width: 650px;
  margin: 150px auto 300px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  background-color: #142F4C;
}

#goal {
  font-size: 48px;
  text-align: right;
  color: #ffffff;
  @media only screen and (max-width : 640px) {
    text-align: center;  
  }
  
}

#glass {
  width: 100%;
  height: 20px;
  background: #c7c7c7;
  border-radius: 10px;
  float: left;
  overflow: hidden;
}

#progress {
  float: left;
  width: 3%;
  height: 20px;
  background: #FF5D50;
  z-index: 333;
  border-radius: 5px;
}

.goal-stat {
  width: 25%;
  height: 30px;
  padding: 10px;
  float: left;
  margin: 0;
  color: #ffffff;
  
  @media only screen and (max-width : 640px) {
    width: 50%;
    text-align: center;
  }
}

.goal-number, .goal-label {
  display: block;
}

.goal-number {
  font-weight: bold;
}

/* family */

.parents_background { 
    background-image: url('https://i.postimg.cc/sxxtV2dr/SCAN0088-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     
  }
  


/* https://owumaro.github.io/text-stroke-generator/ for shading in text */

.mama-text {
  color: #ca2e2e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: rgb(2, 2, 2) 6px 0px 0px, rgb(2, 2, 2) 5.91686px 0.995377px 0px, rgb(2, 2, 2) 5.66974px 1.96317px 0px, rgb(2, 2, 2) 5.2655px 2.87655px 0px, rgb(2, 2, 2) 4.71532px 3.71022px 0px, rgb(2, 2, 2) 4.03447px 4.44106px 0px, rgb(2, 2, 2) 3.24181px 5.04883px 0px, rgb(2, 2, 2) 2.35931px 5.51667px 0px, rgb(2, 2, 2) 1.41143px 5.83163px 0px, rgb(2, 2, 2) 0.424423px 5.98497px 0px, rgb(2, 2, 2) -0.574341px 5.97245px 0px, rgb(2, 2, 2) -1.55719px 5.79441px 0px, rgb(2, 2, 2) -2.49688px 5.45578px 0px, rgb(2, 2, 2) -3.36738px 4.96596px 0px, rgb(2, 2, 2) -4.14455px 4.33852px 0px, rgb(2, 2, 2) -4.80686px 3.59083px 0px, rgb(2, 2, 2) -5.33596px 2.74364px 0px, rgb(2, 2, 2) -5.71718px 1.8204px 0px, rgb(2, 2, 2) -5.93995px 0.84672px 0px, rgb(2, 2, 2) -5.99811px -0.150428px 0px, rgb(2, 2, 2) -5.89004px -1.14341px 0px, rgb(2, 2, 2) -5.61874px -2.1047px 0px, rgb(2, 2, 2) -5.19172px -3.00766px 0px, rgb(2, 2, 2) -4.62082px -3.82727px 0px, rgb(2, 2, 2) -3.92186px -4.54081px 0px, rgb(2, 2, 2) -3.11421px -5.12852px 0px, rgb(2, 2, 2) -2.22026px -5.57409px 0px, rgb(2, 2, 2) -1.26477px -5.86518px 0px, rgb(2, 2, 2) -0.274238px -5.99373px 0px, rgb(2, 2, 2) 0.723898px -5.95617px 0px, rgb(2, 2, 2) 1.70197px -5.75355px 0px, rgb(2, 2, 2) 2.63288px -5.39147px 0px, rgb(2, 2, 2) 3.49082px -4.87998px 0px, rgb(2, 2, 2) 4.25202px -4.23324px 0px, rgb(2, 2, 2) 4.89538px -3.46919px 0px, rgb(2, 2, 2) 5.40307px -2.60899px 0px, rgb(2, 2, 2) 5.76102px -1.67649px 0px, rgb(2, 2, 2) 5.95932px -0.697531px 0px;
}
 .baba-text{
  color: green;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: rgb(0, 0, 0) 5px 0px 0px, rgb(0, 0, 0) 4.90033px 0.993347px 0px, rgb(0, 0, 0) 4.60531px 1.94709px 0px, rgb(0, 0, 0) 4.12668px 2.82321px 0px, rgb(0, 0, 0) 3.48353px 3.58678px 0px, rgb(0, 0, 0) 2.70151px 4.20736px 0px, rgb(0, 0, 0) 1.81179px 4.6602px 0px, rgb(0, 0, 0) 0.849836px 4.92725px 0px, rgb(0, 0, 0) -0.145998px 4.99787px 0px, rgb(0, 0, 0) -1.13601px 4.86924px 0px, rgb(0, 0, 0) -2.08073px 4.54649px 0px, rgb(0, 0, 0) -2.94251px 4.04248px 0px, rgb(0, 0, 0) -3.68697px 3.37732px 0px, rgb(0, 0, 0) -4.28444px 2.57751px 0px, rgb(0, 0, 0) -4.71111px 1.67494px 0px, rgb(0, 0, 0) -4.94996px 0.7056px 0px, rgb(0, 0, 0) -4.99147px -0.291871px 0px, rgb(0, 0, 0) -4.83399px -1.27771px 0px, rgb(0, 0, 0) -4.48379px -2.2126px 0px, rgb(0, 0, 0) -3.95484px -3.05929px 0px, rgb(0, 0, 0) -3.26822px -3.78401px 0px, rgb(0, 0, 0) -2.4513px -4.35788px 0px, rgb(0, 0, 0) -1.53666px -4.75801px 0px, rgb(0, 0, 0) -0.560763px -4.96845px 0px, rgb(0, 0, 0) 0.437495px -4.98082px 0px, rgb(0, 0, 0) 1.41831px -4.79462px 0px, rgb(0, 0, 0) 2.34258px -4.41727px 0px, rgb(0, 0, 0) 3.17346px -3.86382px 0px, rgb(0, 0, 0) 3.87783px -3.15633px 0px, rgb(0, 0, 0) 4.4276px -2.32301px 0px, rgb(0, 0, 0) 4.80085px -1.39708px 0px, rgb(0, 0, 0) 4.98271px -0.415447px 0px;
 }

 /* donate  */

 /* subscribe button  */
 .subscribe {
  width: 100%
 }

 .subscribe_box{
  width: 80%;
  margin: 0 auto;
  padding:0% 8rem 0;

  display: grid; 
  grid-template-columns: 1.5fr ;
}

.subscribe_box_left h2{
  font-size: 1.2rem;
}

@media screen and (min-device-width: 320pm) and (max-device-widthL 768px) {
  .subscribe_box{
    width: 90%;
    grid-template-columns: 1fr;
    gap: 4rem;

  }

}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .subscribe_box{
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    
  }

}

